{% extends "base.html" %}
{% block title %}
  Приложение tkdrm1. Главная
{% endblock %}
 {% block content %}
   <h3>Тестовый проект по учету технических средств ТКДРМ.</h3><br>
    В верхней части экрана меню:
    <ul>
      <li>Главная страница</li>
      <li>Полный перечень тех.средств, которые доступны текущему пользователю. Разным пользователям доступны разные. Отсортированный по эксплуатирующему таможенному органу.</li>
      <li>/under construction/ Тот же перечень, отсортированный по типам тех.средств.</li>
    </ul>

 {% endblock %}