{% extends "base.html" %}
{% block title %}
  БД ТКДРМ
{% endblock %}
 {% block content %}
   <h3>Тестовый проект по учету технических средств ТКДРМ</h3>
   <br>
    В верхней части экрана меню:
    <ul>
      <li>Главная страница</li>
      <li>Общий перечень технических средств ТКДРМ</li>
      <li>Создать новый прибор в базе данных</li>
    </ul>
    <br>
    Общий перечень - кратко о каждом приборе. Т.орган эксплуатации, тип, номер.
    По ссылке 'подробнее' - полная информация о приборе.
 {% endblock %}